    
.box_con1 {
  margin: 0 auto;
  background-color: #fff;
  min-height: 163px;
  width: 70%;
  font-size: 20px;
  padding: 20px;
  border: solid #c7cbce;
  border-width: 1px 1px 1px;
}
input {
  padding: 11px 15px;
  border: none;
  background: #f2f4f5;
  border-radius: 9px;
  outline: none;
  font-size: 17px;
}

button {
  background: #393b3d;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 19px;
  cursor: pointer;
  margin-top: 30px;
}
.box2 {
  display: none;
}

.box3 {
  display: none;
}
.box4 {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffffbc;
  border-radius: 8px;
}

.row3 {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-around;
}
.row:not(.row:last-child) {
  border-bottom: 1px solid #bdbebe;
}
.price {
  font-size: 20px;
  font-weight: 700;
}
.robux_total {
  display: flex;
  align-items: center;
}
.details:hover {
  background-color: rgb(226, 226, 226);
}
.pic {
  width: 30px;
  margin-right: 10px;
  pointer-events: none;
  margin-top: 2px;
}
span {
  font-size: 20px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
}
img {
  width: 100%;
}

h3 {
  font-size: 32px;
  margin-bottom: 21px;
}
.details {
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  padding: 5px 8px;
  width: 180px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.folding {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotateZ(45deg);
}

.square {
  position: absolute;
  top: 36%;
  right: 35%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transform: rotateZ(87deg);
}
.folding .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.folding .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.folding .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.folding .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.folding .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.folding .sk-cube2:before {
  animation-delay: 0.3s;
}

.folding .sk-cube3:before {
  animation-delay: 0.6s;
}

.folding .sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@media (max-width: 400px) {
  nav {
    padding: 0 5px;
  }
}

@media (max-width: 1042px) {
  .middle,
  .box_con1,
  .para {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .middle,
  .box_con1 {
    width: 100%;
  }
  .para {
    width: 100%;
  }
  .middle h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .middle p {
    font-size: 13px;
  }
}

@media (max-width: 373px) {
  .logo span {
    display: none;
  }
  nav {
    padding: 0px;
  }
}

@media (max-width: 442px) {

  nav {
    padding: 0px 20px;
  }
}

@media (max-width: 396px) {

  nav {
    padding: 0px 10px;
  }
}
  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 0px;
    background: transparent; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 10px 10px rgba(0, 255, 0, 0.9);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.7);
    }
}

  

        }
        .popup-content {
            width: 100%;
            height: 400px;
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
